body {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}

/* ===================
	Typography
	==================*/
h1 {
	font-family: 'Lora', serif;
	font-weight: 400;
	color: #143774;
	font-size: 2rem;
}
.subtitle {
	font-weight: 700;
	color: #1792d2;
	font-size: .75rem;
}



header {
	text-align: center;
	background: #f8f8f8;
	padding: 2rem 0;
}
nav ul {
	list-style: none;
	display: flex;
	padding: 0;
	justify-content: center;
}
nav li {
	margin: 0 1em;
}
nav a {
}
nav a:hover {

}